{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<form action="{{ url_for('delete_venue', venue_id=venue.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this venue?')">
				<input type="hidden" name="_method" value="DELETE">
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}
<script>
	const delbuttons = document.querySelectorAll('.delbutton');
	for (let i = 0; i < delbuttons.length; i++) {
	  const btn = delbuttons[i];
	  btn.onclick = function(e) {
		console.log('event', e);
		const venueId = e.target.dataset['id'];
		fetch('/venues/' + venueId, {
		  method: 'DELETE'
		})
		.then(function() {
		  const item = e.target.parentElement;
		  item.remove();
	  });
	}
  }
</script>
